body{
	background-color: #cccccc;
}

header{
	background-color: #333366;
	height: 100px;
	padding: 15px;
}

iframe{
	width: 100%;
}

.frase{
	padding: 10px 0px;
	span{
		font-family: 'Roboto Slab', serif;
		font-weight: 300;
		font-size: 18px;
		line-height: 23px;
	}
	a{
		font-size: 12px;
	}
}

.formulario{
	.columns{
		padding-left: 0px;
	}
	p{
		margin-bottom: 0px;
		margin-top: 0px;
		font-size: 12px;
		color: #7e7e7e;
	}
	input{
		margin-bottom: 5px;
	}
	span{
		font-size: 12px;
		line-height: 20px;
	}
	p.info{
		line-height: 15px;
		color: #7e7e7e;
	}

}


@media only screen and (max-width: 64em) { 
	.frase{
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media only screen and (max-width: 40em) { 
	.formulario{
		padding-right: 30px;
		padding-left: 30px;
		.columns{
			padding: 0px 2px;
		}
	}	
} 

// share twitter

a.twitter-share-button,
a.twitter-mention-button,
a.twitter-hashtag-button {
  display: inline-block;
  padding: 1px 3px 0 19px;
  border: #333 solid 1px;
  border-radius: 3px;
  background: #333 url(//platform.twitter.com/images/bird.png) 2px 3px no-repeat;
  background: url(//platform.twitter.com/images/bird.png) 2px 3px no-repeat,
              -webkit-linear-gradient(#fff, #dedede);
  background: url(//platform.twitter.com/images/bird.png) 2px 3px no-repeat,
              linear-gradient(#fff, #dedede);
  background-size: 16px 13px, auto auto;
 
  /* Text */
    font: bold 11px/17px Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  white-space: nowrap;
}
 
/* Color Highlight for keyboard navigation */
a.twitter-share-button:focus,
a.twitter-mention-button:focus,
a.twitter-hashtag-button:focus {
  outline: none;
  border-color: #0089cb;
}



