@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?w7mkpi');
	src:url('fonts/icomoon.eot?#iefixw7mkpi') format('embedded-opentype'),
		url('fonts/icomoon.woff?w7mkpi') format('woff'),
		url('fonts/icomoon.ttf?w7mkpi') format('truetype'),
		url('fonts/icomoon.svg?w7mkpi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-twitter:before {
	content: "\ea91";
}


body{
	background-color: #cccccc;
}

header{
	background-color: #333366;
	height: 100px;
	padding: 15px;
}

iframe{
	width: 100%;
}

.frase{
	padding: 10px 15px;
	span{
		font-family: 'Roboto Slab', serif;
		font-weight: 300;
		font-size: 18px;
		line-height: 23px;
	}
	a{
		font-size: 12px;
	}
}

.formulario{
	.columns{
		padding-left: 0px;
	}
	p{
		margin-bottom: 0px;
		margin-top: 0px;
		font-size: 12px;
		color: #7e7e7e;
	}
	input{
		margin-bottom: 5px;
	}
	span{
		font-size: 12px;
		line-height: 20px;
	}
	p.info{
		line-height: 15px;
		color: #7e7e7e;
	}
	textarea{
		margin-bottom: 0px;
	}

}

.no-padding-right{padding-right:0px !important}
.no-padding-left{padding-left:0px !important}

// share twitter

#twitter-share-button {
	padding: 5px 10px;
	width: 100%;
	background-color: #0099ff;
	border: none;
	color: white;
	font-size: 16px;
	a{color:white;}
}

#facebook-share-button {
	&:hover{cursor:pointer;}
	padding: 5px 10px;	
	background-color: #3b5998;
	border: none;
	color: white;
	font-size: 16px;	
}


@media only screen and (max-width: 64em) { 

}

@media only screen and (max-width: 40em) { 
	.formulario{
		padding-right: 30px;
		padding-left: 30px;
		.columns{
			padding: 0px 2px;
		}
	}	
} 






